.comment_profile{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment_input{
    width:100%;
   
}
.comment_input input{
    width:100%;
    margin:0 !important;
    padding:0 !important;
    padding-left: 15px !important;
    margin-left:-10px !important;
    color: #65676B;
    height: 40px;
    background-color: #F0F2F5;
    border-radius: 30px;
}

.comment_input input:focus{
    outline: none !important;
    box-shadow: none !important;
    background-color: #F0F2F5;

}

.comment_body{
    background-color: #F0F2F5;
    border-radius: 15px;
    padding:5px 10px 5px 10px;
}

.comment_body span{
    font-weight: 600;
    font-size: 14px;
    padding:0;
    margin:0;
}
.comment_body p{
    padding:0;
    margin:0;
}