.post{
    width:40%;
    margin: 20px auto 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
    -webkit-box-shadow: 1px 1px 4px 1px #dddddd; 
    box-shadow: 1px 1px 4px 1px #dddddd;
    border-radius: 7px;
    
}

