.profile_picture {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile_name{
    width:80%;
}
.profile_name h6{
    margin: 0 !important;
    padding: 0 !important;
}

.profile_name span {

    margin:0px ;
    padding:0;
    color:gray;
    font-size:14px;
}

.dropstart btn{
    border:none !important;
    background-color: transparent !important;
    padding: 0 !important;
    margin: 0 !important;  
    font-weight: bold !important;
    color:gray;
   
}
.dropstart btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

.dropdown-menu li a{
    color:gray !important;
}
